.root{
    :global{
        display: flex;
        flex-direction: column;
        padding: 80px 0 0 120px;
        gap: 35px;

        .text{
            display: flex;
            flex-direction: column;
            gap: 10px;

            h1{
                color: rgba(42, 105, 184, 1);
                font-size: 60px;
                font-family: 'IB';
                letter-spacing: -1.2px;
            }
            p{
                font-size: 20px;
                font-family: 'IR';
            }
        }
        .cards{
            display: flex;
            flex-direction: row;
            gap: 20px;
            max-width: 1200px;
            overflow: auto;
            scrollbar-color: rgba(42, 105, 184, 1) white;

            .card{
                max-width: 380px;
                max-height: 538px !important;
                border: 2px solid rgba(42, 105, 184, 1);
                border-radius: 20px;
                padding: 23px;

                img{
                    max-width: 339px;
                    height: 314px;
                    border-radius: 20px;
                }
                .text{
                    margin-top: 10px;
                    display: flex;
                    flex-direction: row;

                    p{
                        margin-top: 0;
                        font-size: 14px;
                        font-family: 'IR';
                        color: rgba(253, 178, 53, 1);
                    }
                    h1{
                        font-size: 20px;
                        font-family: 'ISB';
                        color: rgba(42, 105, 184, 1);
                        letter-spacing: 1px;
                        line-height: 24.69px;
                    }
                }
                p{
                    margin-top: 10px;
                    font-size: 18px;
                    font-family: 'IR';
                    line-height: 25.92px;
                    text-wrap: nowrap;
                }
            }
        }
    }
}


@media(max-width: 1326px){

    .root{
        :global{
         
            padding: 80px 0 0 60px;
            
        }
    }
}


@media(max-width: 1198px){

    .root{
        :global{
         
            padding: 80px 0 0 33px;

        }
    }
}



@media(max-width: 834px){

    .root{
        :global{

            .text{
                display: flex;
                flex-direction: column;
                gap: 10px;
    
              

                p{
                    font-size: 16px;
                }
               
            }
            
            .cards{
            
              
                .card{
                    max-width: 305px;
                    padding: 23px;
                    max-height: 446px !important;

                    .text{
                        margin-top: 10px;
                        display: flex;
                        flex-direction: row;
    
                        p{
                            margin-top: 0;
                            font-size: 14px;
                            font-family: 'IR';
                            color: rgba(253, 178, 53, 1);
                        }
                        h1{
                            font-size: 14px !important;
                            font-weight: 700;
                            line-height: 20px !important;
                           
                        }
                    }
                    
                    img{
                        max-width: 269px;
                        max-height: 249px;
                        height: 100%;
                    }

                    p{
                        font-size: 12px;
                        margin-top: 20px;
                        line-height: 18px;
                    }
                }
            }    

        }
    }
}



@media(max-width: 551px){

}

@media(max-width: 544px){

    .root{
        :global{

            .cards{
            
              
                .card{
                    max-width: 305px;
                    padding: 23px;
                    max-height:389px !important;
                    .text{
                        br{
                            display: none;
                        }
                        p{
                            margin-top: unset;
                            font-size: 14px;
                          
                        }
                        h1{
                            font-size: 12px;
                            font-weight: 700;
                            line-height: 20px;

                           
                        }
                    }
                    img{
                        max-width: 234px;
                        max-height: 216px;
                        height: 100%;
                    }

                    p{
                        font-size: 10px;
                      
                    }
                }
                p{
                    font-size: 14px;
                    margin-top: 10px !important;
                }
            }
         
            .text{
                display: flex;
                flex-direction: column;
                gap: 10px;
               
    
                h1{
                    font-size: 24px;
                }

                p{
                    font-size: 14px;
                    margin-top: unset;
                }
               
            }
        }
    }
}


@media(max-width: 450px){
    .root{
        :global{
           
            padding: 23px 0 0 33px;
          
        }
    }
}



@media(max-width: 430px){

    .root{
        :global{

            
         
            .text{
               
             br{
                display: none;
             }
               
            }
        }
    }
}
