.root{
    :global{
        padding: 75px 0 43px 120px;
        display: flex;
        flex-direction: column;
        background-color: rgba(238, 236, 255, 1);
        max-height: 722px;

        h1{
            font-size: 60px;
            font-family: 'IB';
            color: rgba(159, 152, 215, 1);
        }
        p{
            margin-top: 30px;
            font-size: 24px;
            font-family: 'IR';
            line-height: 45px;
        }
        img{
            margin-top: 30px;
            max-width: 1200px;
            height: 110px;
        }
        button{
            margin-top: 30px;
            width: 314px;
            height: 55px;
            background-color: rgba(159, 152, 215, 1);
            border: 0;
            border-radius: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 19px;
            font-family: 'ISB';
        }
        button:active{
            box-shadow: 0px 3px 10px rgba(159, 152, 215, 1);
        }
    }
}

@media(max-width: 1326px){

    .root{
        :global{
         
            padding: 75px 60px 43px 60px;
            p{
                font-size: 20px;
               
            }
            h1{
                font-size: 50px;
            }
        }
    }
}




@media(max-width: 1198px){

    .root{
        :global{
         
            padding: 75px 33px 43px 33px;

        }
    }
}

@media(max-width: 1064px){

    .root{
        :global{
         
            p{
                font-size: 16px;
               line-height: 40px;
            }
            h1{
                font-size: 40px;
            }
        }
    }
}


@media(max-width: 1064px){

    .root{
        :global{
            br{
                display: none;
            }
         
            p{
                font-size: 16px;
               line-height: 30px;
               margin-top: 22px;
            }
            h1{
                font-size: 38px;
            }

            img{
                margin-top: 22px;
                max-width: 1200px;
                height: 110px;
            }
        }
    }
}


@media(max-width: 520px){

    .root{
        :global{
            padding: 22px 18px 34px 27px;

            h1{
                font-size: 22px !important;
                line-height: 45px;
            }

            p{
                font-size: 14px;
                margin-top: 19px;
                line-height: 26px;
            }

            img{
               
                height: 32px;
            }
        }
    }
}