@font-face {
    font-family: 'IR';
    src: url(../assets/fonts/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: 'ISB';
    src: url(../assets/fonts/Inter_18pt-SemiBold.ttf);
}

@font-face {
    font-family: 'IB';
    src: url(../assets/fonts/Inter_18pt-Bold.ttf);
}

@font-face {
    font-family: 'IL';
    src: url(../assets/fonts/Inter_18pt-Light.ttf);
}